
/venv/
/venv37/
/venv371/
/tmp/
/logs/
/content-processing/
/docker-data-map/
/ansible/
/docker-tmp/
/inside-docker-container/
/composer/fscrawler/data/
/composer/fscrawler/logs/
/composer/from-git-hub/
